<form action="/acesso" method="post">

<div>
    <label for="email">E-mail</label>
    <input type="email" name="email" autocomplete="off" placeholder="digite o email">
</div>

<div>
    <label for="pass">Senha</label>
    <input type="password"  name="pass" autocomplete="off" placeholder="digite a senha">
</div>
<input type="submit" value="entrar">
</form> 