<form action="/cadastro" method="post">
    <div>
        <label for="username">Nome</label>
        <input type="text" name="username" autocomplete="off"  placeholder="Digite seu nome">
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" name="email" autocomplete="off"  placeholder="Digite seu email">
    </div>
    <div>
        <label for="idade">idade</label>
        <input type="text" name="idade" autocomplete="off"  placeholder="Digite sua idade">
    </div>
    <div>
        <label for="pass">Senha</label>
        <input type="password" name="pass" autocomplete="off"  placeholder="Digite sua idade">
    </div>
    <input type="submit" value="cadastrar" >
</form>